@using AdvWeb_VN.Utilities.Settings
@model AdvWeb_VN.WebApp.Models.HeaderViewModel

@{
    Split split = new Split();
	var imageFolder = ViewData["BaseAddress"] + "/user-content/";
    var active = ViewData["Active"];
    UrlRewrite rewrite = new UrlRewrite();
}

<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar h-100 p-rl-30">
                <div class="align-self-stretch size-w-0 pos-relative m-r-30">
                    <div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
                        <span class="text-uppercase cl0 p-r-8">
                            Mới:
                        </span>

                        <span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
                            @foreach (var item in Model.PostHeaders.Items)
							{
                            <span class="dis-inline-block slide100-txt-item animated visible-false">
                                <a style="color:unset" href="/post/@(rewrite.Rewrite(item.PostName) +  item.PostID)">@split.NormalizeName(item.PostName, 30)</a>
                            </span>
							}
                        </span>
                    </div>
                </div>


                <div class="flex-wr-e-c">
                    <div class="left-topbar">
                        @*<span class="left-topbar-item flex-wr-s-c">
                            <span>
                                New York, NY
                            </span>

                            <img class="m-b-1 m-rl-8" src="~/images/icons/icon-night.png" alt="IMG">

                            <span>
                                HI 58° LO 56°
                            </span>
                        </span>*@

                        @*<a href="#" class="left-topbar-item">
                            Thông tin
                        </a>*@

                        <a href="https://www.facebook.com/GeroSagaSciADV" class="left-topbar-item">
                            Liên lạc
                        </a>

                        @*<a href="@ViewData["AdminAddress"]" class="left-topbar-item">
                            Admin
                        </a>*@

                        <a href="#" class="left-topbar-item"></a>
                    </div>

                    <div class="right-topbar p-l-18">
                        <a href="https://www.facebook.com/GeroSagaSciADV">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        @*<a href="#">
                            <span class="fab fa-twitter"></span>
                        </a>*@

                        <a href="https://discord.gg/jVQMg6g">
                            <span class="fab fa-discord"></span>
                        </a>

                        @*<a href="#">
                            <span class="fab fa-vimeo-v"></span>
                        </a>*@

                        <a href="https://www.youtube.com/channel/UCxsie4tnIQhJ8JkUhSXJQbQ/">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/"><img src="~/images/logo.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                @*<li class="left-topbar">
                    <span class="left-topbar-item flex-wr-s-c">
                        <span>
                            New York, NY
                        </span>

                        <img class="m-b-1 m-rl-8" src="~/images/icons/icon-night.png" alt="IMG">

                        <span>
                            HI 58° LO 56°
                        </span>
                    </span>
                </li>*@

                <li class="left-topbar">
                    <a href="#" class="left-topbar-item">
                        Thông tin
                    </a>

                    <a href="#" class="left-topbar-item">
                        Liên lạc
                    </a>

                    <a href="#" class="left-topbar-item">
                        Admin
                    </a>
                </li>

                <li class="right-topbar">
                    <a href="https://www.facebook.com/GeroSagaSciADV">
                        <span class="fab fa-facebook-f"></span>
                    </a>

                    @*<a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>*@

                    <a href="https://discord.gg/jVQMg6g">
                        <span class="fab fa-discord"></span>
                    </a>

                    @*<a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>*@

                    <a href="https://www.youtube.com/channel/UCxsie4tnIQhJ8JkUhSXJQbQ/">
                        <span class="fab fa-youtube"></span>
                    </a>
                </li>
            </ul>

            <ul class="main-menu-m">
                @foreach (var category in Model.CategoryMenus)
                {
                    <li>
                        <a href="/Category/category-@category.CategoryID">@category.CategoryName</a>
                    </li>
                }

                <li>
                    <a href="#">More</a>
                    <ul class="sub-menu-m">
                        <li><a href="about.html">Thông tin</a></li>
                        <li><a href="contact.html">Liên lạc</a></li>
                    </ul>

                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo no-banner container">
            <!-- Logo desktop -->
            <div class="logo">      
                <a href="/"><img src="~/images/logo_final.png" alt="LOGO"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="/">
                        <img src="~/images/logo.png" alt="LOGO">
                    </a>

                    <ul class="main-menu justify-content-center">
                        <li class="@(active.Equals(0)? "main-menu-active" : "") ">
                            <a href="/Home">Home</a>
                        </li>

                        @foreach (var itemCategory in Model.CategoryMenus)
                        {
                            <li class="mega-menu-item@(active.Equals(itemCategory.CategoryID)? " main-menu-active" : "")">
                                <a class="list" href="/category/category-@itemCategory.CategoryID">@itemCategory.CategoryName</a>

                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist">
                                        <a class="nav-link active" data-toggle="pill" href="#@(itemCategory.CategoryName  + "-" + "All")" role="tab">All</a>
                                        @foreach (var itemSubCategory in itemCategory.SubCategories)
                                        {
                                            <a class="nav-link" data-toggle="pill" href="#@(itemCategory.CategoryName  + "-" + itemSubCategory.SubCategoryID)" role="tab">@itemSubCategory.SubCategoryName</a>
                                        }


                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="@(itemCategory.CategoryName + "-" + "All")" role="tabpanel">
                                            <div class="row">
                                                @foreach (var itemPost in itemCategory.SubCategoryAll.Posts)
                                                {
                                                    <div class="col-3">
                                                        <!-- Item post -->
                                                        <div>
                                                            <a href="/post/@(rewrite.Rewrite(itemPost.PostName) + itemPost.PostID)" class="wrap-pic-w hov1 trans-03">
                                                                <img class="image-post-category" src="@imageFolder@itemPost.Thumbnail" alt="IMG">
                                                            </a>

                                                            <div class="p-t-10">
                                                                <h5 class="p-b-5">
                                                                    <a href="/post/@(rewrite.Rewrite(itemPost.PostName) + itemPost.PostID)" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                        @split.NormalizeName(itemPost.PostName, 12)
                                                                    </a>
                                                                </h5>

                                                                <span class="cl8">
                                                                    <a href="/subcategory/subcategory-@itemPost.SubCategoryID" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                        @itemPost.SubCategoryName
                                                                    </a>

                                                                    <span class="f1-s-3 m-rl-3">
                                                                        -
                                                                    </span>

                                                                    <span class="f1-s-3">
                                                                        @(itemPost.WriteTime.Day + "/" + itemPost.WriteTime.Month)
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        @foreach (var itemSubCategory in itemCategory.SubCategories)
                                        {
                                            <div class="tab-pane" id="@(itemCategory.CategoryName + "-" + itemSubCategory.SubCategoryID)" role="tabpanel">
                                                <div class="row">
                                                    @foreach (var itemPost in itemSubCategory.Posts)
                                                    {
                                                        <div class="col-3">
                                                            <!-- Item post -->
                                                            <div>
                                                                <a href="/post/@(rewrite.Rewrite(itemPost.PostName) + itemPost.PostID)" class="wrap-pic-w hov1 trans-03">
                                                                    <img class="image-post-category" src="@imageFolder@itemPost.Thumbnail" alt="IMG">
                                                                </a>

                                                                <div class="p-t-10">
                                                                    <h5 class="p-b-5">
                                                                        <a href="/post/@(rewrite.Rewrite(itemPost.PostName) + itemPost.PostID)" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                            @split.NormalizeName(itemPost.PostName, 12)
                                                                        </a>
                                                                    </h5>

                                                                    <span class="cl8">
                                                                        <a href="/subcategory/subcategory-@itemSubCategory.SubCategoryID" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                            @itemSubCategory.SubCategoryName
                                                                        </a>

                                                                        <span class="f1-s-3 m-rl-3">
                                                                            -
                                                                        </span>

                                                                        <span class="f1-s-3">
                                                                            @(itemPost.WriteTime.Day + "/" + itemPost.WriteTime.Month)
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                        }

                        <li class="@(active.Equals(99)? "main-menu-active" : "") ">
                            <a href="/post-list">Blog</a>
                        </li>

                        @*<li class="@(active.Equals(100)? "main-menu-active" : "") ">
                            <a href="@ViewData["DonateAddress"]">Donate</a>
                        </li>*@

                        <li class="@(active.Equals(101)? "main-menu-active" : "") ">
                            <a href="@ViewData["AboutAddress"]">About</a>
                        </li>

                        <li>
                            <a href="#">More</a>
                            <ul class="sub-menu">
                                <li><a href="https://www.facebook.com/GeroSagaSciADV">Thông tin</a></li>
                                <li><a href="https://www.facebook.com/GeroSagaSciADV">Liên lạc</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
