@model AdvWeb_VN.Data.Entities.Post

@{
    ViewData["Title"] = Model.PostName;
}

<div class="container">
  <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
    <div class="f2-s-1 p-r-30 m-tb-6">
      <a
        asp-controller="Home"
        asp-action="Index"
        class="breadcrumb-item f1-s-3 cl9"
      >Trang chủ</a>
      <a asp-action="Index" class="breadcrumb-item f1-s-3 cl9">Bài đăng</a>
      <span class="breadcrumb-item f1-s-3 cl9">
        @Html.DisplayFor(model => model.PostName)
      </span>
    </div>
    <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
      <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
      <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
        <i class="zmdi zmdi-search"></i>
      </button>
    </div>
  </div>
</div>

<section class="bg0 p-b-70 p-t-5">
  <!-- Title -->
  <div class="bg-img1 size-a-18 how-overlay1" style="background-image: url(@Model.Thumbnail);">
    <div class="container h-full flex-col-e-c p-b-58">
      <a href="#" class="f1-s-10 cl0 hov-cl10 trans-03 text-uppercase txt-center m-b-33">
        @Html.DisplayFor(model => model.Category.CategoryName)
      </a>
      <h3 class="f1-l-5 cl0 p-b-16 txt-center respon2">
        @Html.DisplayFor(model => model.PostName)
      </h3>
      <div class="flex-wr-c-s">
        <span class="f1-s-3 cl8 m-rl-7 txt-center">
          <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
            bởi @Html.DisplayFor(model => model.User.NormalizedUserName)
          </a>
          <span class="m-rl-3">-</span>
          <span>@Html.DisplayFor(model => model.WriteTime)</span>
          <a href="" class="f1-s-3 cl8 m-rl-7 txt-center hov-cl10 trans-03">
            @Html.DisplayFor(model => model.Comments.Count) bình luận
          </a>
        </span>
      </div>
    </div>
  </div>

  <!-- Detail -->
  <div class="container p-t-82">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 p-b-100">
        <div class="p-r-10 p-r-0-sr991">
          <!-- Blog Detail -->
          <div class="p-b-70">
            @* <p class="f1-s-11 cl6 p-b-25">
            </p> *@
            @Html.Raw(Model.Contents)

            <!-- Tag -->
            @* <div class="flex-s-s p-t-12 p-b-15">
              <span class="f1-s-12 cl5 m-r-8">
                Tags:
              </span>
              
              <div class="flex-wr-s-s size-w-0">
                <a href="#" class="f1-s-12 cl8 hov-link1 m-r-15">
                  Streetstyle
                </a>

                <a href="#" class="f1-s-12 cl8 hov-link1 m-r-15">
                  Crafts
                </a>
              </div>
            </div> *@

            <!-- Share -->
            <div class="flex-s-s">
              <span class="f1-s-12 cl5 p-t-1 m-r-15">
                Share:
              </span>
              
              <div class="flex-wr-s-s size-w-0">
                <a href="#" class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                  <i class="fab fa-facebook-f m-r-7"></i>
                  Facebook
                </a>

                <a href="#" class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                  <i class="fab fa-twitter m-r-7"></i>
                  Twitter
                </a>

                <a href="#" class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                  <i class="fab fa-google-plus-g m-r-7"></i>
                  Google+
                </a>

                <a href="#" class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                  <i class="fab fa-pinterest-p m-r-7"></i>
                  Pinterest
                </a>
              </div>
            </div>
          </div>

          <!-- Leave a comment -->
          <div>
            <h4 class="f1-l-4 cl3 p-b-12">
              Bình luận
            </h4>

            <p class="f1-s-13 cl8 p-b-40">
              Email chỉ dùng để xác thực. Những ô bắt buộc được đánh dấu *
            </p>

            <form>
              <textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Bình luận..."></textarea>

              <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Tên*">

              <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="Email*">

              <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="website" placeholder="Website">

              <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
                Đăng bình luận
              </button>
            </form>
          </div>
        </div>
      </div>
      
      @* <div class="col-md-10 col-lg-4 p-b-100">
        <div class="p-l-10 p-rl-0-sr991">
          <!-- Banner -->
          <div class="flex-c-s">
            <a href="#">
              <img class="max-w-full" src="images/banner-02.jpg" alt="IMG">
            </a>
          </div>
        </div>
      </div> *@
    </div>
  </div>
</section>
