@using  AdvWeb_VN.ViewModels.Common;
@using AdvWeb_VN.Utilities.Settings
@using AdvWeb_VN.WebApp.Models

@model HomePageViewModel
@{
	Split split = new Split();
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Headline -->
<div class="container">
	<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
		<div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
		</div>

		<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
			<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" id="search" type="text" name="search" placeholder="Search">
			<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03" id="search">
				<i class="zmdi zmdi-search"></i>
			</button>
		</div>
	</div>
</div>

<!-- Feature post -->
<section class="bg0">
	<div class="row m-rl-0 justify-content-center">
		@for (int i = 0; i < 3; i++)
		{
			<div class="col-md-4 p-rl-1 p-b-2">
				<div class="bg-img1 size-a-11 how1 pos-relative" style="background-image: url(https://localhost:5002/user-content/@Model.Posts.Items[i].Thumbnail);">
					<a href="/post/@Model.Posts.Items[i].PostID" class="dis-block how1-child1 trans-03"></a>

					<div class="flex-col-e-s s-full p-rl-25 p-tb-18">
						<a href="/subcategory/subcategory-@Model.Posts.Items[i].SubCategoryID" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
							@Model.Posts.Items[i].SubCategoryName
						</a>

						<h3 class="how1-child2 m-t-14 m-b-10">
							<a href="/post/@Model.Posts.Items[i].PostID" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
								@split.NormalizeName(Model.Posts.Items[i].PostName, 12)
							</a>
						</h3>
					</div>
				</div>
			</div>
		}
	</div>
</section>

<!-- Post -->
@*List Category đặt ở đây*@

<!-- Latest -->
<section class="bg0 p-t-60 p-b-35">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8 p-b-20">
				<div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
					<h3 class="f1-m-2 cl3 tab01-title">
						Bài viết mới nhất
					</h3>
				</div>

				<div class="row p-t-35">
					@foreach (var item in Model.Posts.Items)
					{
						<div class="col-sm-6 p-r-25 p-r-15-sr991">
							<!-- Item latest -->
							<div class="m-b-45">
								<a href="/post/@item.PostID" class="wrap-pic-w hov1 trans-03">
									<img class="image-post" src="https://localhost:5002/user-content/@item.Thumbnail" alt="IMG">
								</a>

								<div class="p-t-16">
									<h5 class="p-b-5">
										<a href="/post/@item.PostID" class="f1-m-3 cl2 hov-cl10 trans-03">
											@split.NormalizeName(item.PostName, 12)
										</a>
									</h5>

									<span class="cl8">
										<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
											by @item.UserName
										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											@(item.WriteTime.Day + "/" + item.WriteTime.Month)
										</span>
									</span>
								</div>
							</div>
						</div>
					}
				</div>

				<a href="/PostList" class="flex-c-c size-a-13 bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03">
					Xem thêm
				</a>
			</div>
			<!-- Sidebar -->
			@await Component.InvokeAsync("Sidebar")
		</div>
	</div>
</section>