@using AdvWeb_VN.Utilities.Settings
@using AdvWeb_VN.WebApp.Models
@model TagPageViewModel
@{
	ViewData["Title"] = Model.TagName;
	Layout = "~/Views/Shared/_Layout.cshtml";
	var imageFolder = ViewData["BaseAddress"] + "/user-content/";

	Split split = new Split();
	UrlRewrite rewrite = new UrlRewrite();

	var postTopCount = 5;
	if (Model.Posts.Items.Count < 5) { postTopCount = Model.Posts.Items.Count; }
	ConvertTime convert = new ConvertTime();

}

@section style{
	<style>
		h1, h2, h3, h4, h5, h6, p {
			margin: 0px;
			line-height: unset;
			font-weight: 400;
			font-size: unset;
		}
	</style>
}
<!-- Breadcrumb -->
<div class="container">
	<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
		<div class="f2-s-1 p-r-30 m-tb-6">
			@*<a href="/home" class="breadcrumb-item f1-s-3 cl9">
				Home
			</a>

			<a href="#" class="breadcrumb-item f1-s-3 cl9">
				Từ khóa
			</a>*@
		</div>

		<div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
			<input id="search" class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
			<button id="search" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
				<i class="zmdi zmdi-search"></i>
			</button>
		</div>
	</div>
</div>


<!-- Feature post -->
<section class="bg0">
	<div class="container">
		<div class="row m-rl--1">
			<div class="col-12 p-rl-1 p-b-2">
				<div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url(@(imageFolder + Model.Posts.Items[0].Thumbnail));">
					<a href="/post/@(rewrite.Rewrite(Model.Posts.Items[0].PostName) + "-" + Model.Posts.Items[0].PostID)" class="dis-block how1-child1 trans-03"></a>

					<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
						<a href="/subcategory/subcategory-@Model.Posts.Items[0].SubCategoryID" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
							@Model.Posts.Items[0].SubCategoryName
						</a>

						<h3 class="how1-child2 m-t-14 m-b-10">
							<a href="/post/@(rewrite.Rewrite(Model.Posts.Items[0].PostName) + "-" + Model.Posts.Items[0].PostID)" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
								@split.NormalizeName(Model.Posts.Items[0].PostName, 10)
							</a>
						</h3>

						<span class="how1-child2">
							<span class="f1-s-4 cl11">
								@Model.Posts.Items[0].UserName
							</span>

							<span class="f1-s-3 cl11 m-rl-3">
								-
							</span>

							<span class="f1-s-3 cl11">
								@(convert.Convert(Model.Posts.Items[0].WriteTime))
							</span>
						</span>
					</div>
				</div>
			</div>
			@for (int i = 1; i < postTopCount; i++)
			{
				<div class="col-sm-6 col-md-3 p-rl-1 p-b-2">
					<div class="bg-img1 size-a-14 how1 pos-relative" style="background-image: url(@(imageFolder + Model.Posts.Items[i].Thumbnail));">
						<a href="/post/@(rewrite.Rewrite(Model.Posts.Items[i].PostName) + "-" + Model.Posts.Items[i].PostID)" class="dis-block how1-child1 trans-03"></a>

						<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
							<a href="/subcategory/subcategory-@Model.Posts.Items[i].SubCategoryID" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
								@Model.Posts.Items[i].SubCategoryName
							</a>

							<h3 class="how1-child2 m-t-14">
								<a href="/post/@(rewrite.Rewrite(Model.Posts.Items[i].PostName) + "-" + Model.Posts.Items[i].PostID)" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
									@split.NormalizeName(Model.Posts.Items[i].PostName, 10)
								</a>
							</h3>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</section>

<!-- Post -->
<section class="bg0 p-t-70 p-b-55">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8 p-b-80">
				<div class="row">
					@for (int i = 0; i < Model.Posts.Items.Count; i++)
					{
						<div class="col-sm-6 p-r-25 p-r-15-sr991">
							<!-- Item latest -->
							<div class="m-b-45">
								<a href="/post/@(rewrite.Rewrite(Model.Posts.Items[i].PostName) + "-" + Model.Posts.Items[i].PostID)" class="wrap-pic-w hov1 trans-03">
									<img class="image-post" src="@(imageFolder + Model.Posts.Items[i].Thumbnail)" alt="IMG">
								</a>

								<div class="p-t-16">
									<h5 class="p-b-5">
										<a href="/post/@(rewrite.Rewrite(Model.Posts.Items[i].PostName) + "-" + Model.Posts.Items[i].PostID)" class="f1-m-3 cl2 hov-cl10 trans-03">
											@split.NormalizeName(Model.Posts.Items[i].PostName, 12)
										</a>
									</h5>

									<span class="cl8">
										<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
											by @Model.Posts.Items[i].UserName
										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											@(convert.Convert(Model.Posts.Items[i].WriteTime))
										</span>
									</span>
								</div>
							</div>
						</div>
					}

				</div>

				<!-- Pagination -->
				<div class="flex-wr-s-c m-rl--7 p-t-15">
					@await Component.InvokeAsync("Pager", new { result = Model.Posts})
				</div>
			</div>

			<div class="col-md-10 col-lg-4 p-b-80">
				<div class="p-l-10 p-rl-0-sr991">
					<!-- Most Popular -->
					<div class="p-b-23">
						<div class="how2 how2-cl4 flex-s-c">
							<h3 class="f1-m-2 cl3 tab01-title">
								Tiêu biểu
							</h3>
						</div>

						<ul class="p-t-35">
							@{
								var popular5 = Model.Posts.Items.OrderByDescending(i => i.View).Take(5);
							}
							@for (int i = 0; i < popular5.Count(); i++)
							{
								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										@(i + 1)
									</div>

									<a href="/post/@(rewrite.Rewrite(popular5.ElementAt(i).PostName) + popular5.ElementAt(i).PostID)" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										@popular5.ElementAt(i).PostName
									</a>
								</li>
							}

						</ul>
					</div>

					<!-- Tag -->
					<div>
						<div class="how2 how2-cl4 flex-s-c m-b-30">
							<h3 class="f1-m-2 cl3 tab01-title">
								Từ khóa
							</h3>
						</div>

						<div class="flex-wr-s-s m-rl--5">
							@foreach (var tag in Model.Tags.Items)
							{
								<a href="/Tag/@tag.TagName" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									@tag.TagName
								</a>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

