<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"]</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/comment.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- HTML Meta Tags -->
	<meta content="@ViewBag.description" name="description">
	<meta content="@ViewBag.keywords" name="description">
	<meta name="Author" content="Hoang Thuan, nguyenhoangthuan2092003@gmail.com">

	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content="@ViewBag.ogtitle">
	<meta itemprop="description" content="@ViewBag.ogdescription">
	<meta itemprop="image" content="@ViewBag.ogimage">

	<!-- [ Social Media meta tag ] -->
	<!-- Facebook Meta Tags -->
	<meta content="@ViewBag.ogtype" property="og:type">
	<meta property="og:title" content="@ViewBag.ogtitle">
	<meta property="og:url" content="@ViewBag.ogurl">
	<meta property="og:image" content="@ViewBag.ogimage">
	<meta content="@ViewBag.ogdescription" property="og:description">
	<meta content="Gero Saga" property="og:site_name">

	<!-- Twitter Meta Tags -->
	<meta property="twitter:title" content="@ViewBag.ogtitle">
	<meta property="twitter:description" content="@ViewBag.description">
	<meta property="twitter:image" content="@ViewBag.ogimage">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="@ViewBag.ogurl">



	<style>
		img.img-avatar-comment {
			width: 55px;
			height: 55px
		}
	</style>

	@RenderSection("Style", required: false)

</head>
<body class="animsition">

	<!-- Header -->
	@await Component.InvokeAsync("Header")

	@RenderBody()

	<!-- Footer -->
	@await Component.InvokeAsync("Footer")


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/js/main.js"></script>

	@RenderSection("Scripts", required: false)

	<script type="text/javascript">
		$('input#search').keypress(function (event) {
			var keycode = (event.keyCode ? event.keyCode : event.which);
			if (keycode == '13') {
				if ($('#search').val() != "") {
					window.location.href = "/post-list?keyword=" + $('#search').val();
				}
			}
		});
		$('button#search').click(function () {
			if ($('#search').val() != "") {
				window.location.href = "/post-list?keyword=" + $('#search').val();
			}
		});
	</script>
</body>
</html>