@using AdvWeb_VN.Utilities.Dtos
@using AdvWeb_VN.Utilities.Settings
@model AdvWeb_VN.WebApp.Models.FooterViewModel

@{
	var imageFolder = DomainAddresses.BaseAddress + "/user-content/";
	Split split = new Split();
	UrlRewrite rewrite = new UrlRewrite();
}

<footer>
	<div class="bg2 p-t-40 p-b-25">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<a class="logo-footer" href="/Home">
							<img class="max-s-full logo-footer" src="~/images/logo.png" alt="LOGO">
						</a>
					</div>

					<div>
						<p class="f1-s-1 cl11 p-b-16 footer">
							Website của nhóm dịch Gero Saga, mục tiêu của nhóm là series Visual Novel mang tên Science
							Adventure ("CHAOS;HEAD", "STEINS;GATE", "ROBOTICS;NOTES"...) của 5pb./MAGES
						</p>

						<p class="f1-s-1 cl11 p-b-16">
							Bạn có điều gì còn trăn trở? Tham gia ngay DISCORD cùng chúng mình
						</p>

						<div class="p-t-15 p-b-16">
							<a href="https://www.facebook.com/GeroSagaSciADV"
								class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-facebook-f"></span>
							</a>

							@*<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-twitter"></span>
							</a>*@

							<a class="fs-18 cl11 hov-cl10 trans-03 m-r-8" href="https://discord.gg/jVQMg6g">
								<span class="fab fa-discord"></span>
							</a>

							@*<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-vimeo-v"></span>
							</a>*@

							<a href="https://www.youtube.com/@@gerosaga" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-youtube"></span>
							</a>
						</div>

						<p id="donors" class="f1-s-1 cl11 p-b-16">
							<strong>Danh sách người ủng hộ trong tháng:</strong> @string.Join(", ", Model.Donors)
						</p>

					</div>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<h5 class="f1-m-7 cl0">
							Popular Posts
						</h5>
					</div>

					<ul>
						@for (int i = 0; i < ((Model.PostFooters.Count >= 5) ? 4 : Model.PostFooters.Count); i++)
						{
							<li class="flex-wr-sb-s p-b-20">
								<a href="/post/@(rewrite.Rewrite(Model.PostFooters[i].PostName) + Model.PostFooters[i].PostID)"
									class="size-w-4 wrap-pic-w hov1 trans-03">
									<img class="image-post-footer" src="@imageFolder@Model.PostFooters[i].Thumbnail"
										alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5">
										<a href="/post/@(rewrite.Rewrite(Model.PostFooters[i].PostName) + Model.PostFooters[i].PostID)"
											class="f1-s-5 cl11 hov-cl10 trans-03">
											@split.NormalizeName(Model.PostFooters[i].PostName, 12)
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										@(Model.PostFooters[i].WriteTime.Day + "/" + Model.PostFooters[i].WriteTime.Month)
									</span>
								</div>
							</li>
						}

					</ul>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<h5 class="f1-m-7 cl0">
							Category
						</h5>
					</div>

					<ul class="m-t--12">
						@foreach (var item in Model.CategoryFooters)
						{
							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="/category/category-@item.CategoryID" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									@item.CategoryName (@item.PostCount)
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
